@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-image: url('http://localhost/Pedpizza/__system__/img/teste.jpg');
    background-size: cover;
}

  /*CSS for the popup*/
  
  .popup-container{
     
      display: flex;
      position: absolute;
      top: 20%;
      left: 25%;
      overflow: hidden;
      flex-direction: column;
      justify-content: center;
      font-family: 'Josefin Sans', sans-serif;
      padding:20px;
      align-content: center;
      height: 400px;
      width: 50%;
      background: white;
      border-radius: 10px;
      box-shadow : 0 10px 10px rgba(0, 0, 0, 0.268), 0 4px 4px rgba(0,0,0,0.268);
  }

  .close-btn{
      position: absolute;
      top:0;
      height: 50px;
      width:50px;
      font-size: 22px;
      color: black;
      bottom:100%;
      left: 180%;
      display: block;
      z-index: 5;
      border:1px solid red;
  }
  .popup-container h1 {
      font-weight: bold;
      margin: 0;
  }
  .popup-container p {
      font-size: 14px;
      font-weight: 100;
      line-height: 20px;
      letter-spacing: 0.5px;
      margin: 20px 0 30px;
  }
  .popup-container span {
      font-size: 12px;
  }

  .popup-container a {
      color: #333333;
      font-size: 14px;
      text-decoration: none;
      margin: 15px 0;
  }
  .popup-container a:hover {
      border-bottom: 1px solid #333333;
  }
  .form-container form {
        background-color: #ffff;
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 0 50px;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
  }

  .popup-container .social-container {
      margin:20px 0;
  }

  .social-container a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 0 5px;
      height: 40px;
      width: 40px;
  }
  .social-container i{
      font-size: 22px;
      padding: 5px;
      border:1px solid #333333;
      border-radius: 50%;
  }

  .form-container input{
      background: #eeee;
      border:none;
      outline: none;
      padding: 12px 15px;
      margin: 8px 0;
      width:100%;
  }

  .popup-container button{
      border-radius: 20px;
      border: 1px solid ;
      background:#ff5a1a;
      color: #ffffff;
      font-size: 12px;
      font-weight: bold;
      padding: 12px 45px;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: transform 80ms ease-in;
  }

  .popup-container button:active{
      transform: scale(0.95);
  }

  .popup-container button:focus{
      outline: none;
  }

  button.ghost {
      background: transparent;
      border-color:#ffffff;
  }

  .form-container{
      position: absolute;
      top: 0;
      height: 100%;
      transition: all 0.6s ease-in-out;
  }

  .sign-in-container{
    left:0;
    width: 50%;
    z-index: 2;
}

  /*Moves sign In to right */

  .popup-container.right-panel-active .sign-in-container{
    transform: translateX(100%);
    }

  .sign-up-container{
    left:0;
    width: 50%;
    z-index: 1;
    opacity: 0;
    }

  /*Brings Sign Up over sign in*/
  .popup-container.right-panel-active .sign-up-container{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }

@keyframes show {
    0%,49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%,100%{
        opacity: 1;
        z-index: 5;
    }
}
  .overlay-container {
      position: absolute;
      top:0;
      left:50%;
      width:50%;
      height: 100%;
      overflow: hidden;
      transition: transform 0.5s ease-in-out;
      z-index: 100;
  }
  .overlay{
    background:linear-gradient(56deg, #ff5a1a,#dd4408);
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    height: 400px;
    position: relative;
    left:-100%;
    height: 100%;
    width:200%;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
  }

  .overlay-panel{
      position: absolute;
      top:0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding:0 40px;
      height: 100%;
      width: 50%;
      text-align: center;
      transform: translateX(0);
      transition: transform 0.6s ease-in-out;
  } 

  .overlay-right{
      right: 0;
      transform: translateX(0);
  }

  .overlay-left{
      transform: translateX(-20%);
  }


  /*Moves Overlay to left*/
  .popup-container.right-panel-active .overlay-container{
    transform: translateX(-100%);
  }

   /*Move Overlay back */
   .popup-container.right-panel-active .overlay{
    transform: translateX(50%);
  }
 
  /*Shifts the overlay left content to position*/
.popup-container.right-panel-active .overlay-left {
    transform: translateX(0);
}
/*Shifts the overlay right's content to position*/
.popup-container.right-panel-active .overlay-right {
    transform: translateX(20%);
}


  /* Css for tablets and mobile phones */
  @media (max-width:940px)
  {
   

      .popup-container{
          width: 100%;
          left:0;
          top: 20%;
          padding: 20px;
          height: 400px;
          display: flex;
      }
      .overlay-container{
          display: block;
      }


    
  }